//
//  Production.xcconfig
//  Runner
//
//  Created by 竹尾幸紘 on 2020/06/07.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

FLUTTER_FLAVOR=Production
PRODUCT_BUNDLE_IDENTIFIER=com.application.kokuchiEvent
DISPLAY_NAME=Kokuchi
ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon-production
DART_DEFINES=FLAVOR=production
